{% extends "base/base.html" %}

{% block title %}
Home
{% endblock title %}

{% block content %}
<br>
<div class="row">
    <div class="col-sm-4 d-grid gap-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Clients</h5>
          <p class="card-text">See the CRUD for the clients in SGIP</p>
          <a href="{% url 'clients:cl_list' %}" class="btn btn-primary d-grid">Go to Clients</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-grid gap-2">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Employees</h5>
          <p class="card-text">See the CRUD for the employees in SGIP</p>
          <a href="{% url 'employees:em_list' %}" class="btn btn-primary d-grid">Go to Employees</a>
        </div>
      </div>
    </div>
    <div class="col-sm-4 d-grid gap-2">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Providers</h5>
            <p class="card-text">See the CRUD for the providers in SGIP</p>
            <a href="{% url 'provider:pr_list' %}" class="btn btn-primary d-grid">Go to Providers</a>
          </div>
        </div>
      </div>
</div>
<br>
{% endblock content %}