{% extends "base/base.html" %}
{% load static %}

{% block title %}
Details Employee
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col">
    <a href="{% url 'employees:em_list' %}" class="btn btn-success d-grid">BACK TO EMPLOYEES</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">{{ object.em_position }}</h5>
      <div class="card-body">
        <h5 class="card-title">INFORMATION</h5>
        <table class="table table-hover card-text">
          <thead>
            <th>FULL NAME</th>
            <th></th>
            <th></th>
          </thead>
          <tbody>
            <td>{{ object.em_name }}</td>
            <td>{{ object.em_last_name }}</td>
            <td>{{ object.em_middle_name }}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock content %}