{% extends "base/base.html" %}

{% block title %}
Employees
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col-6 d-grid">
    <a href="{% url 'employees:em_add' %}" class="btn btn-success ">ADD CLIENTS</a>
  </div>
  <div class="col-3 d-grid">
    <a href="{% url 'employees:pos_list' %}" class="btn btn-warning">POSITIONS</a>
  </div>
  <div class="col-3 d-grid">
    <a href="{% url 'home:index' %}" class="btn btn-secondary">HOME</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-hover table-secondary">
      <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>LAST NAME</th>
        <th>MIDDLE NAME</th>
        <th>POSITION</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
      </thead>
      <tbody>
        {% for tm in employees %}
          <tr>
            <td>{{ tm.id }}</td>
            <td>{{ tm.em_name }}</td>
            <td>{{ tm.em_last_name }}</td>
            <td>{{ tm.em_middle_name }}</td>
            <td>{{ tm.em_position }}</td>
            <td><a href="{% url 'employees:em_detail' tm.id %}" class="btn btn-info">Details</a></td>
            <td><a href="{% url 'employees:em_update' tm.id %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'employees:em_delete' tm.id %}" class="btn btn-primary">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
{% endblock content %}