{% extends "base/base.html" %}

{% block title %}
Delete Position
{% endblock title %}

{% block content %}
<br>
    <form action="" method="post">
        {% csrf_token %}
        ¿Wish you delete: {{ object }}?
        <button type="submit" class="btn btn-primary">Delete Position</button>
        <a href="{% url 'employees:pos_list'%}" class="btn btn-warning">Cancel</a>
    </form>
<br>
{% endblock content %}
