{% extends "base/base.html" %}
{% load static %}

{% block title %}
Details Position
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col">
    <a href="{% url 'employees:pos_list' %}" class="btn btn-success d-grid">BACK TO EMPLOYEES</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">POSITION</h5>
      <div class="card-body">
        <table class="table table-hover card-text">
          <thead>
            <th>DESCRIPTION</th>
          </thead>
          <tbody>
            <td>{{ object.pos_name }}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock content %}