{% extends "base/base.html" %}

{% block title %}
Positions
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col-8 d-grid">
    <a href="{% url 'employees:pos_add' %}" class="btn btn-success ">ADD POSITION</a>
  </div>
  <div class="col-4 d-grid">
    <a href="{% url 'employees:em_list' %}" class="btn btn-secondary">BACK TO EMPLOYEES</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-hover table-secondary">
      <thead>
        <th>ID</th>
        <th>NAME</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
      </thead>
      <tbody>
        {% for tm in positions %}
          <tr>
            <td>{{ tm.id }}</td>
            <td>{{ tm.pos_name }}</td>
            <td><a href="{% url 'employees:pos_detail' tm.id %}" class="btn btn-info">Details</a></td>
            <td><a href="{% url 'employees:pos_update' tm.id %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'employees:pos_delete' tm.id %}" class="btn btn-primary">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
{% endblock content %}