{% extends "base/base.html" %}
{% load static %}

{% block title %}
Details Clients
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col">
    <a href="{% url 'clients:cl_list' %}" class="btn btn-success d-grid">BACK TO CLIENTS</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <div class="card">
      <h5 class="card-header">{{ object.cl_name }}</h5>
      <div class="card-body">
        <h5 class="card-title">CONTACT</h5>
        <table class="table table-hover card-text">
          <thead>
            <th>FULL NAME</th>
            <th></th>
            <th></th>
            <th>NUMBER PHONE</th>
          </thead>
          <tbody>
            <td>{{ object.cl_contact_name }}</td>
            <td>{{ object.cl_contact_lastname }}</td>
            <td>{{ object.cl_contact_middle_name }}</td>
            <td>{{ object.cl_contact_number_phone }}</td>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<br>
{% endblock content %}