{% extends "base/base.html" %}

{% block title %}
Delete Client
{% endblock title %}

{% block content %}
<br>
    <form action="" method="post">
        {% csrf_token %}
        ¿Wish you delete: {{ object }}?
        <button type="submit" class="btn btn-primary">Delete Client</button>
        <a href="{% url 'clients:cl_list'%}" class="btn btn-warning">Cancel</a>
    </form>
<br>
{% endblock content %}
