{% extends "base/base.html" %}

{% block title %}
Clients
{% endblock title %}

{% block content %}
<br>
<div class="row">
  <div class="col-8 d-grid">
    <a href="{% url 'clients:cl_add' %}" class="btn btn-success ">ADD CLIENTS</a>
  </div>
  <div class="col-4 d-grid">
    <a href="{% url 'home:index' %}" class="btn btn-secondary">HOME</a>
  </div>
</div>
<br>
<div class="row">
  <div class="col">
    <table class="table table-hover table-secondary">
      <thead>
        <th>ID</th>
        <th>NAME</th>
        <th>CONTACT NAME</th>
        <th>CONTACT LAST NAME</th>
        <th>CONTACT MIDDLE NAME</th>
        <th>CONTACT NUMBER PHONE</th>
        <th></th>
        <th>ACTIONS</th>
        <th></th>
      </thead>
      <tbody>
        {% for tm in clients %}
          <tr>
            <td>{{ tm.id }}</td>
            <td>{{ tm.cl_name }}</td>
            <td>{{ tm.cl_contact_name }}</td>
            <td>{{ tm.cl_contact_lastname }}</td>
            <td>{{ tm.cl_contact_middle_name }}</td>
            <td>{{ tm.cl_contact_number_phone }}</td>
            <td><a href="{% url 'clients:cl_detail' tm.id %}" class="btn btn-info">Details</a></td>
            <td><a href="{% url 'clients:cl_update' tm.id %}" class="btn btn-warning">Update</a></td>
            <td><a href="{% url 'clients:cl_delete' tm.id %}" class="btn btn-primary">Delete</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
<br>
{% endblock content %}