{% extends "base/base.html" %}

{% block title %}
Update Providers
{% endblock title %}

{% block content %}
<br>
    <form action="" method="post" class="form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="btn btn-info">Update Providers</button>
        <a href="{% url 'provider:pr_list' %}" class="btn btn-primary">Cancel</a>
    </form>
<br>
{% endblock content %}
